<h2>Thank you for using my system. I wish you a good day!</h2>

<div>
    <p>Press <span class="text-danger">"Logout"</span> key if you want to leave</p>
</div>

<div>
    <p>Press <span class="text-primary">"Back"</span> key if you want to go back to your Issues</p>
</div>

<div class="logout">
    <button type = "submit" class=" btn btn-danger" ng-click="logout()">Logout</button>
    <button type = "submit"  id="logoutBackBtn" class=" btn btn-primary" ng-click="logOutBack()">Back</button>
</div>