<header>
    <h2>Register to our Issue Tracing system</h2>
</header>

<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <form name="registerUserForm" class="form">
            <label for="registerUserName">User name</label>
            <input type="text"
                   ng-model="registerUser.username"
                   id="registerUserName"
                   class="form-control form-group"
                   required="required"
                   placeholder="Username" />

            <label for="registerEmail">User email</label>
            <input type="email"
                   ng-model="registerUser.userEmail"
                   id="registerEmail"
                   class="form-control form-group"
                   required="required"
                   placeholder="Email" />

            <label for="registerPassword">Password</label>
            <input type="password"
                   ng-model="registerUser.userPassword"
                   id="registerPassword"
                   class="form-control form-group"
                   required="required"
                   pattern=".{6,100}"
                   placeholder="Password" />

            <label for="registerConfirmPassword">Confirm Password</label>
            <input type="password"
                   ng-model="registerUser.userConfirmPassword"
                   id="registerConfirmPassword"
                   class="form-control form-group"
                   pattern=".{6,100}"
                   required="required"
                   placeholder="Confirm Password" />

            <br />
            <button type="submit"
                    class="btn btn-primary"
                    ng-disabled="registerUserForm.$invalid || registerUser.userPassword!=registerUser.userConfirmPassword"
                    ng-click="register(registerUser)">Register</button>
        </form>
    </div>
</div>